@{
	ViewData["Title"] = "Gracias!";
}

<h1>Has enviado el mensaje exitosamente. ¡Gracias!</h1>
<p>Te respondere lo más pronto posible</p>
<div>
	<a asp-controller="Home" asp-action="Index">Volver a la página principal</a>
</div>
